body {
    margin:0px;
    font-family: 'Montserrat', sans-serif;
    background-color: lightcyan;
    line-height: 1.5;
}

h1 {
    padding-top: 11vw;
    font-size: 11vw;
    margin: 0px;
    font-family: 'Orbitron', sans-serif;
}

h2 {
    font-size: 4vw;
    margin: auto;
}

h3 {
    padding-bottom: 108px;
    padding-top: 80px;
    font-size: 6.7vw;
}

hr {
    margin: auto;
    background-color: lightcyan;
    border: dotted blue 6px;
    border-bottom: none;
    width: 10vw;
    text-align: center;
}

.navbar {
    padding:1vw;
}

.nav-item {
    padding: 0 1vw;
    font-size: 15px;
}

.navigation_bar {
    background-color: #0cbbe6;
    font-size: 2vw;
}

.intro {
    padding: 2vw;
    padding-top: 5vw;
    background-color: #0cbbe6;
    color: white;
}

.profile_image {
    padding-top: 10.85vw;
    float: right;
    width: 20.05vw;
}

.imagesleft {
    float: left;
    width: 250px;
    padding: 30px;
    margin: auto;
}

.imagesright{
    float: right;
    width: 250px;
    padding: 30px;
    margin: auto;
}

.Feature {
    margin: auto;
    text-align: center;
    width: 60%;
    margin-top: 7vw;
}

.education_data {
    margin: auto;
    text-align: center;
    width: 60%;
    margin-bottom: 7vw;
}

.skills_data {
    margin: auto;
    text-align: center;
    margin-bottom: 7vw;
}

.projects_data {
    padding:0 3vw;
    text-align: center;
    margin-bottom: 7vw;
}

.card {
    padding: 3vw;
}

.card-body {
    color: steelblue;
}

.card-text {
    padding-top: 1vw;
    padding-bottom: 1vw;
    text-align: justify;
}

.contact_me{
    padding-bottom: 1vw;
    width: 45vw;
    text-align: center;
    margin: auto;
    margin-top: 5vw;
}

.footer {
    text-align: center;
    padding: 2vw;
    background-color: #0cbbe6;
    color: white;
}

.socials {
    padding: 1vw;
}