body {
    margin:0px;
    background-color: lightcyan;
}

.nav-item {
    padding: 1.5   vw ;
}

h1 {
    padding-top: 13vw;
    font-size: 7vw;
    margin: 0px;
    font-family: 'Orbitron', sans-serif;
}

h2 {
    padding-bottom: 2vw;
    font-size: 5vw;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

h6 {
    font-size: 2vw;
    margin: 0px;
}

.navigation_bar {
    background-color: #0cbbe6;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
}

.intro {
    padding: 2vw;
    font-family: 'Montserrat', sans-serif;
    background-color: #0cbbe6;
    color: white;
}

.image {
    padding-top: 7.9vw;
    margin: 0;
    float: right;
    width: 17.8vw;
}

.imagesleft {
    float: left;
    margin: auto;
    width: 250px;
    padding: 50px;
    text-align: center;
}

.imagesright{
    float: right;
    margin: auto;
    width: 250px;
    padding: 50px;
    text-align: center;
}

.Feature {
    line-height: 30px;
    width: 63%;
    margin: 10vw auto 10vw auto;
    font-size: 15px;
    padding: 3vw;
}

.contactme{
    width: 45vw;
}

hr {
    margin: auto;
    background-color: lightcyan;
    border: dotted blue 6px;
    border-bottom: none;
    width: 10vw;
}